
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout_Second.cshtml";
}

<h3>@ViewData["Message"]</h3>

<div class="container top_sizec">
    <div class="row">
        <div class="col-sm-offset-3 col-lg-offset-3 col-md-offset-3 col-xs-12">
            <h3 class="h3_bold contact_left">
                CCN IFS PORTALI
            </h3>
        </div>

    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-offset-3 col-lg-offset-3 col-md-offset-3 col-xs-12">
        <p>
            Talep ve önerileriniz için  hizmet masasına mail gönderebilirsiniz.
        </p>
    </div>
    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-12">
        <address>
            <strong class="h3_left">Destek:</strong> <a href="mailto:Support@example.com">hizmetmasasi@ccnholding.com</a><br />
        </address>
    </div>
</div>


