.navbar {
    background-color: #000F66;
}

nav {
    color: black;
}

.btn_top_left {
    margin-top: 15px;
    margin-left: 10px;
}

#color_nav {
    color: white
}

footer p {
    color: black;
    size: 25px;
}
#pshow{
    display:none;
}
#ihlshow {
    display: block;
}

#ihlyn {
    display: none;
}

.top_size {
    margin-top: 100px;
}

.top_sizey {
    margin-top: 50px;
}

.top_sizec {
    margin-top: 25px;
}

.h3_bold, .h4_bold {
    font-weight: bold;
}
.h3_left {
    margin-left: 50px;
}
.contact_left {
    margin-left: 50px;
}
.purchase_left {
    margin-left: 110px;
}
#h3show{
    display:none;
    font-size:16px;
    color:green;
    font-weight:bold;
}
.h1_color, .h4_color {
    color: #4169E1;
}

.h1_position {
    padding-bottom: 30px;
}

.h3_position {
    padding-top: 12px;
}

.p_fonttype {
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-weight: normal;
}

.p_bold {
    font-weight: bold;
}

.p_color {
    color: #000F66;
}

.p_colorred {
    color: red;
}

.p_display {
    display: none;
}
.p_size{
    font-size:15px;
}
.textbox_size {
    width: 200px;
}

.comb_size {
    width: 200px;
}

.p_right {
    text-align: right;
}

.rar_right {
    margin-left: 20px;
}

.notification {
    color: black;
    font-family: "Trebuchet MS";
}

.p_position {
    padding-top: 8px;
}

.btn-primary, .btn-primary:hover, .btn-primary:visited, .btn-primary:active, .btn-primary:active:focus {
    background-color: #000F66;
    border-color: #000F66;
    font-family: "Trebuchet MS";
    padding-right: 25px;
    padding-left: 25px;
}

.error_btn_top{
    margin-top:10px;
}
.table_design {
    font-family: "Trebuchet MS";
    border-collapse: collapse;
    width: 75%;
    display: block;
}

.second_design_table {
    font-family: "Trebuchet MS";
    border-collapse: collapse;
    width: 75%;
    display: block;
}
.table_qutation {
    font-family: "Trebuchet MS";
    border-collapse: collapse;
    width: 1150px;
    display: block;
}

.table_qutation td {
    table-layout: fixed;
    overflow: hidden;
    word-wrap: break-word;
    text-align:center;
    font-size:12px;
    font-weight:bold
}

.table_design td, .table_design th, .second_design_table td, .second_design_table th, .table_qutation td, .table_qutation th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table_design tr:nth-child(even), .second_design_table tr:nth-child(even), .table_qutation tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table_design tr:hover, .second_design_table td:hover, .table_qutation td:hover {
    background-color: #ddd;
}
#tableshow{
    display:block;
}
#combobox1{
    display:block;
}
.a_size {
    font-size: 15px;
}
.error_btn_left {
    margin-left: 150px;
}
.a_sizex {
    font-size: 25px;
}

.checkbox_position {
    margin-left: 25px;
    margin-top: 10px;
}

.form-popup {
    border: 3px solid #f1f1f1;
    width: 500px;
}
.modal-header {
    background-color: #000F66;
}
.modal-title{
    color: white;
}
.form-popup_useradd {
    padding-left: 150px;
    padding-bottom: 50px;
    border: 3px solid #f1f1f1;
    width: 500px;
}

.form-popup_textarea {
    border: 3px solid #f1f1f1;
    width: 700px;
    padding: 30px;
}

.textarea_size {
    width: 500px;
}

footer {
    margin-right: 20px;
}



@media only screen and (max-width: 768px) {
    .p_position_pass{
        padding-left: 50px;
    }
    .center_footer{
        text-align: center;
    }
    .table_left{
        margin-left: 20px;
    }
    .h3_position{
        padding-top: 12px;
        margin-left: 20%;
    }
    .p_size {
        font-size: 12px;
    }
    .error_btn_left{
        margin-left: 50px;
    }
    .top_size_btn{
        margin-top:15px;
    }
    .combo_position_extended{
        margin-top: 15px;
    }
    .purchase_left{
        margin-left:50px;    
    }
    .quotation_left{
        margin-left:35px;
    }
    .contact_left{
        margin-left:0px;
    }
    @page {
        size: landscape
    }
}

