<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -CCN HOLDİNG</title>

    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
   
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Account" asp-action="Login" class="navbar-brand" style="color:white">CCN HOLDİNG</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Account" asp-action="Login" style="color:white">Ana Sayfa</a></li>
                    <li><a asp-controller="Account" asp-action="Contact" style="color:white">İletişim</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>CCN Holding Bilgi Teknolojileri tarafından geliştirilmiştir.</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p> 2018 - CCN IFS PORTALI</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/checkbox_remember.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
